.container1{
    padding: auto;
    background: #608FFC;

}
.container2{
    padding: auto;
    background: #5CF2E3;
}

.containerSystem{
    margin-top:2rem;
}
.stylesCol{
    padding: 2%;
    border-style: double;
    border-radius: 4px;
    border-color: #DB36F5;
}
